@import 'variables.css';

/* Reset browser */
body,
p {
	margin: 0;
}

button {
	border: none;
}

/* Remove dotted outline */
button::-moz-focus-inner {
	border: 0;
}

/* Base */
*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	height: 100%;

	overflow: hidden;
}

@font-face {
	font-family: 'Roboto';
	src: url('assets/fonts/roboto-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	padding: var(--size-2);

	font-size: var(--font-size-2);
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;

	color: var(--neutral-8);
	background-color: var(--neutral-0);
}

/* Components */

button {
	padding: var(--size-1) var(--size-2);

	font-size: var(--font-size-2);

	border-radius: var(--size-0);
	box-shadow: 0 4px 6px hsla(0deg, 0%, 0%, 0.2);

	transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button:focus {
	box-shadow: 0 0 0 3px hsla(227deg, 50%, 59%, 0.5),
		0 4px 6px hsla(0deg, 0%, 0%, 0.2);
}

.button-primary {
	color: var(--primary-9);

	background-color: var(--primary-2);
}

.button-primary:hover {
	background-color: var(--primary-3);
}

.button-primary:active {
	background-color: var(--primary-3);

	box-shadow: 0 1px 3px hsla(0deg, 0%, 0%, 0.2);
}

/* Main page */

body {
	display: grid;
	grid: 2fr 1fr 3fr / 1fr;
	justify-items: center;
	align-items: center;
}

img {
	border: 2px solid var(--neutral-7);

	border-radius: 50%;
}

figcaption {
	font-size: var(--font-size-4);
	text-align: center;
}

.congratulation-card {
	padding: var(--size-3);

	background-color: white;

	border-radius: var(--size-1);
	box-shadow: 0 4px 6px hsla(0deg, 0%, 0%, 0.2);
	transform: translateX(0);

	transition: transform 0.3s ease-in-out;
}

.congratulation-card-removed {
	transform: translateX(-105%);
}

.congratulation-card-added {
	transform: translateX(105%);
}

.author {
	font-size: var(--font-size-1);
	text-align: right;

	color: var(--neutral-6);
}
